.container {
  margin: 0 auto;
  width: 300px;
  border: 2px solid #212121;
  border-radius: 10px;
  overflow: hidden;
  font-family: sans-serif;
  background-color: #fff;
  text-align: center;
}

.description {
  padding: 30px 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #2a2a2a;
  margin-bottom: 20px;
}

.name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.tag,
.location {
  font-size: 16px;
  color: grey;
  margin: 10px 0;
}

.stats {
  display: flex;
  background-color: #d3d3d3;
  border-top: 1px solid #808080;
  padding-left: 0;
  margin-bottom: 0;
}

.stats li {
  flex: 1;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #808080;
}

.stats li:last-child {
  border-right: none;
}

.label {
  font-size: 14px;
  color: #555;
}

.quantity {
  font-weight: 700;
  margin-top: 5px;
}
