.friendList {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}

.friendCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  border: 2px solid black;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
